a{
    text-decoration: none;
}
.top{
    width: 940px;
    margin: 0 auto;
    padding: 2px;
    height: 90px;
} 
div.top div.Img img{
    height: 60px;
    float: left;
    margin-top: 10px;
}

div.top div.language ul{
    list-style: none;
    float: right;
}
div.top div.language ul li{
    display: inline;
}
div.top div.language ul li a{
    padding-right: 5px;
    color: #1f1f1f;
    font-size: 12px;
}

div.top div.language ul li a i{
    font-size: 26px;
    padding-right: 5px;
 }
div.top div.language ul li a:hover{
    color: orange;
    text-decoration: underline;
}
.fa-facebook-square{
    color: blue;
}
.fa-twitter-square{
    color: cornflowerblue;
}
.fa-linkedin{
    color: cornflowerblue;
}
.fa-youtube{
    color: red;
}
div.top .top-link ul{
    list-style: none;
    float: right;
    margin-top: 50px;
    margin-right: 30px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
div.top .top-link ul li{
    display: inline;
}

div.top .top-link ul li a{
    margin-left: 10px;
}

/* navbar-header */
div.navbar-header{
    background-color: black;
    height: 50px;
    width: 100%;
}
div.navbar-header div.navbar{
    color:white;
}
div.navbar-header div.navbar ul{
    margin-left: 140px;
}
div.navbar-header div.navbar ul li{
    display: inline;
    float: left;
    list-style: none;
    padding-top: 10px;
}
div.navbar-header div.navbar ul li a{
    padding-right: 20px;
    font-size: 14px;
}

/* navbar-header2 */
div.navbar-header2{
    background-color: #ffde00;
    height: 50px;
}
div.navbar-header2 div.btn{
    margin-right: 175px;
}
div.navbar-header2 button{
    margin-top: 5px;
    background-color: #107ece;
    height: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    float: right;
    margin-left: 3px;
    border-bottom: 2px solid #0f027b ;
    border-radius: 4px;
}